spring:
  profiles:
    include: domain, infra, security
    active: dev
  jpa:
    open-in-view: false # view, Controller 단에서 Lazy를 사용하지 않음
    properties:
      hibernate:
        show_sql: true # sql query console 창에 표시 여부
        format_sql: true # console 창에 보여줄때 format 여부

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080
  servlet:
    context-path: /v1

oauth:
  kakao:
    client_id: ${OAUTH_KAKAO_CLIENTID}
    redirect_url: ${OAUTH_KAKAO_REDIRECT_URL}
    client_secret: ${OAUTH_KAKAO_CLIENT_SECRET}
  naver:
    client_id: ${OAUTH_NAVER_CLIENTID}
    client_secret: ${OAUTH_NAVER_CLIENT_SECRET}

validate:
  business:
    api_key: ${BUSINESS_VALIDATE_API_KEY}
    baseurl: https://api.odcloud.kr/api/nts-businessman/v1
