spring:
  profiles:
    include: infra, security
    active: dev
  jpa:
    open-in-view: false # view, Controller 단에서 Lazy를 사용하지 않음
    properties:
      hibernate:
        show_sql: true # sql query console 창에 표시 여부
        format_sql: true # console 창에 보여줄때 format 여부

server:
  port: 8080
  servlet:
    context-path: /v1

oauth:
  kakao:
    client.id: 임시 id
    redirect.url: 임시 url
    client.secret: 임시 secret
