openapi: 3.0.1
info:
  title: Bag To the Future
  description: API Documentation
  version: 0.1.0
servers:
- url: http://localhost:8081/v1
tags: []
paths:
  /products:
    get:
      tags:
      - products
      summary: 모든 상품 조회 API
      description: 모든 상품 조회 API입니다.
      operationId: get-all-products
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] get-all-products"
              examples:
                get-all-products:
                  value: "{\"code\":200,\"message\":\"정상 처리되었습니다.\",\"data\":{\"products\"\
                    :[{\"id\":1,\"name\":\"상품1\",\"description\":\"상품1 설명\",\"price\"\
                    :10000,\"stockQuantity\":10,\"thumbnail\":\"thumbnail1\"},{\"\
                    id\":2,\"name\":\"상품2\",\"description\":\"상품2 설명\",\"price\":20000,\"\
                    stockQuantity\":20,\"thumbnail\":\"thumbnail2\"}]}}"
  /store/{storeId}/products:
    post:
      tags:
      - products
      summary: 상품 등록 API
      description: 상품 등록 API 입니다.
      operationId: register-product
      parameters:
      - name: storeId
        in: path
        description: 가게 ID
        required: true
        schema:
          type: number
      - name: Authorization
        in: header
        description: "JWT 인증 토큰. 'Bearer ${Jwt Token}' 형식으로 입력해 주세요."
        required: true
        schema:
          type: string
        example: "Bearer ${JWT Token}"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] product-register"
            examples:
              register-product:
                value: "{\"name\":\"상품 이름\",\"description\":\"상품 설명\",\"price\":10000,\"\
                  stockQuantity\":1,\"thumbnail\":\"이미지 링크\"}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] product-register"
              examples:
                register-product:
                  value: "{\"code\":201,\"message\":\"정상적으로 생성되었습니다.\",\"data\":{\"\
                    product_id\":1}}"
  /store/{storeId}/products/{productId}:
    get:
      tags:
      - products
      summary: 상품 단건 조회 API
      description: 상품 단건 조회 API입니다.
      operationId: get-product-by-store
      parameters:
      - name: storeId
        in: path
        description: 가게 ID
        required: true
        schema:
          type: number
      - name: productId
        in: path
        description: 상품 ID
        required: true
        schema:
          type: number
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] get-product"
              examples:
                get-product-by-store:
                  value: "{\"code\":200,\"message\":\"정상 처리되었습니다.\",\"data\":{\"product\"\
                    :{\"id\":1,\"name\":\"상품1\",\"description\":\"상품1 설명\",\"price\"\
                    :10000,\"stockQuantity\":10,\"thumbnail\":\"thumbnail1\"}}}"
    delete:
      tags:
      - products
      summary: 상품 삭제 API
      description: 상품 삭제 API 입니다.
      operationId: delete-product
      parameters:
      - name: storeId
        in: path
        description: 가게 ID
        required: true
        schema:
          type: number
      - name: productId
        in: path
        description: 상품 ID
        required: true
        schema:
          type: number
      - name: Authorization
        in: header
        description: "JWT 인증 토큰. 'Bearer ${Jwt Token}' 형식으로 입력해 주세요."
        required: true
        schema:
          type: string
        example: "Bearer ${JWT Token}"
      responses:
        "204":
          description: "204"
components:
  schemas:
    '[response] get-all-products':
      title: "[response] get-all-products"
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: number
          description: HttpStatusCode 입니다.
        data:
          type: object
          properties:
            products:
              type: array
              items:
                required:
                - description
                - id
                - name
                - price
                - stockQuantity
                - thumbnail
                type: object
                properties:
                  thumbnail:
                    type: string
                    description: 썸네일 이미지 URL
                  price:
                    type: number
                    description: 상품 가격
                  name:
                    type: string
                    description: 상품 이름
                  stockQuantity:
                    type: number
                    description: 재고 수량
                  description:
                    type: string
                    description: 상품 설명
                  id:
                    type: number
                    description: 상품 ID
        message:
          type: string
          description: 응답 메시지 입니다.
    '[response] product-register':
      title: "[response] product-register"
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: number
          description: HttpStatusCode 입니다.
        data:
          required:
          - product_id
          type: object
          properties:
            product_id:
              type: number
              description: 생성된 상품 ID 입니다.
        message:
          type: string
          description: 응답 메시지 입니다.
    '[request] product-register':
      title: "[request] product-register"
      required:
      - description
      - name
      - price
      type: object
      properties:
        thumbnail:
          type: string
          description: 썸네일 이미지 입니다.
          nullable: true
        price:
          type: number
          description: 상품 가격입니다. 0 이상의 수를 입력해주세요.
        name:
          type: string
          description: 상품 이름입니다.
        stockQuantity:
          type: number
          description: 상품 재고입니다. 0 이상의 수를 입력해주세요. 기본값은 0입니다.
          nullable: true
        description:
          type: string
          description: 상품 상세 설명입니다.
    '[response] get-product':
      title: "[response] get-product"
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: number
          description: HttpStatusCode 입니다.
        data:
          type: object
          properties:
            product:
              required:
              - description
              - id
              - name
              - price
              - stockQuantity
              - thumbnail
              type: object
              properties:
                thumbnail:
                  type: string
                  description: 썸네일 이미지 URL
                price:
                  type: number
                  description: 상품 가격
                name:
                  type: string
                  description: 상품 이름
                stockQuantity:
                  type: number
                  description: 재고 수량
                description:
                  type: string
                  description: 상품 설명
                id:
                  type: number
                  description: 상품 ID
        message:
          type: string
          description: 응답 메시지 입니다.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []