version: '3'

services:
  db:
    image: mysql:8.0 # mysql 이미지
    ports:
      - "3306:3306" # TCP 포트 : 데이터베이스 연결 포트
    environment:
      MYSQL_ROOT_PASSWORD: 1234

  bagtothefuture-member:
    image: ${DOCKER_USERNAME}/bagtothefuture-member:latest # member api 이미지
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev # dev 프로파일 활성화
      SPRING_DATASOURCE_URL: jdbc:h2:tcp://db:1521/~./test # 데이터소스 URL을 덮어쓰는 설정
      OAUTH_KAKAO_CLIENTID: ${OAUTH_KAKAO_CLIENTID}
      OAUTH_KAKAO_REDIRECT_URL: ${OAUTH_KAKAO_REDIRECT_URL}
      OAUTH_KAKAO_CLIENT_SECRET: ${OAUTH_KAKAO_CLIENT_SECRET}
      OAUTH_NAVER_CLIENTID: ${OAUTH_NAVER_CLIENTID}
      OAUTH_NAVER_CLIENT_SECRET: ${OAUTH_NAVER_CLIENT_SECRET}
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    depends_on:
      - db

  swagger-ui:
    image: ${DOCKER_USERNAME}/bagtothefuture-swagger:latest # swagger 이미지
    ports:
      - "8000:80"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
