spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://localhost:3306/test
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: true
    properties:
      dialect: org.hibernate.dialect.MySQLDialect


  data:
    redis:
      # docker container 시작 시 환경 변수를 전달 받도록 한다.
      host: ${SPRING_REDIS_HOST:localhost} # 기본값을 localhost로 설정
      port: ${SPRING_REDIS_PORT:6379} # 기본값을 6379로 설정
  sql:
    init:
      mode: always
      schema-locations: classpath:core/infra/src/main/resources/schema.sql

logging:
  level:
    org.hibernate:
      sql: debug
