spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://localhost:3306/test
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect


  data:
    redis:
      # docker container 시작 시 환경 변수를 전달 받도록 한다.
      host: ${SPRING_REDIS_HOST:localhost} # 기본값을 localhost로 설정
      port: ${SPRING_REDIS_PORT:6379} # 기본값을 6379로 설정
  sql:
    init:
      mode: always
cloud:
  aws:
    s3:
      region: ${COULD_AWS_S3_REGION}
      accessKey: ${CLOUD_AWS_S3_ACCESSKEY}
      secretKey: ${CLOUD_AWS_S3_SECRETKEY}

logging:
  level:
    org.hibernate:
      sql: debug
